@mixin txt($rem, $color) {
    color: $color;
    font-family: "Roboto Mono", monospace, "Noto Sans TC", sans-serif;
    font-size: $rem;
    text-align: center;
}

@mixin px($pl, $pr) {
    padding-left: $pl;
    padding-right: $pr;
}

@mixin py($pt, $pb) {
    padding-top: $pt;
    padding-bottom: $pb;
}

@mixin mx($ml, $mr) {
    margin-left: $ml;
    margin-right: $mr;
}

@mixin my($mt, $mb) {
    margin-top: $mt;
    margin-bottom: $mb;
}

@mixin flex($flex) {
    display: flex;
    flex-direction: $flex;
    justify-content: center;
    align-items: center;
}

@mixin bgi() {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    transition: 0.3s;
}

.a,
a:hover {
    text-decoration: none;
    color: inherit;
}

.rwd {
    display: none;

    @media (max-width:400px) {
        display: block;
    }
}

nav {
    width: calc(100% - 100px);
    height: 80px;
    @include flex(row);
    @include px(50px, 50px);
    justify-content: space-between;
    background-color: rgb(70, 70, 70);
    position: fixed;
    top: 0;
    z-index: 3;

    @media (max-width: 750px) {
        height: 120px;
        flex-direction: column;
        justify-content: space-between;
    }

    .nav_logo {
        width: 50px;
        height: 50px;
        background-image: url(../img/nav_logo.svg);
        background-color: #fff;
        @include bgi();
        border-radius: 999rem;
        border: 5px black solid;
        box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5);

        @media (max-width: 750px) {
            margin-top: 10px;
        }

        &:hover {
            width: 55px;
            height: 55px;
        }
    }

    .nav_menu {
        @include flex(row);

        @media (max-width: 750px) {
            margin-bottom: 10px;
        }

        .nav_tag {
            @include mx(10px, 10px);
            @include txt(1.25rem, rgb(150, 150, 150));

            &:hover {
                @include txt(1.35rem, ivory);
            }

            @media (max-width: 750px) {
                @include mx(5px, 5px);
                font-size: 1rem;

                &:hover {
                    @include txt(1.1rem, ivory);
                }
            }

            @media (max-width: 450px) {
                @include mx(3px, 3px);
                font-size: 0.75rem;

                &:hover {
                    @include txt(0.85em, ivory);
                }
            }
        }
    }
}

footer {
    width: 100%;
    height: 30px;
    background-color: rgb(70, 70, 70);
    position: fixed;
    bottom: 0;
    @include flex(row);
    z-index: 3;

    @media (max-width: 600px) {
        height: 80px;
        flex-direction: column;
    }

    .footer_info {
        @include mx(15px, 15px);
        @include txt(0.75rem, ivory);
    }
}

.contents {
    width: 100vw;
    @include bgi();
    background-image: url(../img/about.jpg);
    background-size: cover;
    overflow: scroll;
    padding-top: 80px;

    @media (max-width: 750px) {
        padding-top: 120px;
    }
}

.info {
    width: 100%;
    height: 230vh;

    .info_banner {
        width: 100%;
        height: 60%;
        background-image: url(../img/info_banner.jpg);
        @include bgi();
        background-size: cover;
        background-attachment: fixed;
        position: relative;

        .info_logo {
            width: 300px;
            height: 300px;
            background-image: url(../img/info_logo.png);
            @include bgi();
            position: absolute;
            top: calc(40% - 150px);
            left: calc(50% - 150px);

            @media (max-width:400px) {
                left: calc(53% - 150px);
            }
        }
    }

    .info_nema {
        width: 100%;
        height: 40%;
        background-color: black;
        @include py(50px, 50px);
        display: block;

        @media (max-width:400px) {
            height: 50%;            
        }

        .info_photo {
            width: 300px;
            height: 300px;
            border-radius: 999rem;
            margin: auto;
            background-image: url(../img/info_photo.jpg);
            @include bgi();
            margin-bottom: 20px;

            @media (max-width:400px) {
                width: 250px;
                height: 250px;            
            }
        }

        .info_nema_txt {
            display: none;
            animation: info_nema_txt_fadein 2s linear;

            @keyframes info_nema_txt_fadein {
                0% {
                    opacity: 0;
                    transform: translateY(-50px);
                }

                70% {
                    opacity: 0.5;
                    transform: translateY(-10px);
                }

                100% {
                    opacity: 1;
                    transform: translateY(0px);
                }
            }
    
            .info_name_en {
                @include txt(4rem, rgba(0, 0, 0, 0));
                font-family: "Dela Gothic One", cursive;
                background: linear-gradient(to right, rgb(48, 255, 127), rgb(167, 241, 241), rgb(0, 153, 153));
                background-clip: text;
            }
    
            .info_profession_en {
                @include txt(1.5rem, ivory);
            }
    
            .info_name_ch {
                @include txt(2rem, ivory);
                @include my(30px, 10px);
            }
    
            .info_profession_ch {
                @include txt(1.5rem, ivory);
            }
    
            .info_skill {
                @include txt(1rem, ivory);
                @include my(30px, 10px);
            }
        }
    }
}

.about {
    width: calc(100% - 250px);
    @include px(250px, 0);
    @include py(50px, 50px);
    position: relative;

    @media (max-width: 750px) {
        @include px(30px, 30px);
        @include py(50px, 50px);
        width: calc(100% - 30px);
    }

    .about_cat {
        width: 700px;
        height: 450px;
        position: fixed;
        right: 0px;
        bottom: 30px;
        background-image: url(../img/about_cat.png);
        @include bgi();
        background-size: cover;

        @media (max-width: 600px) {
            bottom: 80px;
        }
    }

    .about_title {
        width: 450px;
        @include txt(4rem, rgba(0, 0, 0, 0));
        font-family: "Dela Gothic One", cursive;
        background: linear-gradient(to right, rgb(48, 255, 127), rgb(167, 241, 241), rgb(0, 153, 153));
        background-clip: text;
        @include my(0px, 10px);
        text-align: left;
        position: relative;
        z-index: 2;

        @media (max-width: 500px) {
            font-size: 2.5rem;
        }
    }

    .about_subtitle {
        width: 250px;
        @include txt(2rem, rgba(0, 0, 0, 0));
        background: linear-gradient(to right, rgb(48, 255, 127), rgb(167, 241, 241), rgb(0, 153, 153));
        background-clip: text;
        font-weight: 500;
        @include my(10px, 0px);
        text-align: left;
        position: relative;
        z-index: 2;
    }

    .about_content {
        @include txt(1rem, ivory);
        text-align: left;
        position: relative;
        @include my(20px, 0px);
        z-index: 2;

        @media (max-width: 450px) {
            font-size: 0.8rem;
        }
    }

    .about_sub {
        ul {
            list-style-type: none;
            margin-block-start: 0em;
            margin-block-end: 0em;
            padding-inline-start: 0px;
            @include my(20px, 0px);
            @include txt(1.5rem, ivory);
            text-align: left;
            font-weight: 500;
            position: relative;
            z-index: 2;

            @media (max-width: 450px) {
                font-size: 0.8rem;
            }

            li {
                @include my(5px, 0px);
                @include txt(1rem, rgb(204, 204, 204));
                text-align: left;

                @media (max-width: 450px) {
                    font-size: 0.8rem;
                }
            }
        }
    }
}

.websites {
    width: 100%;
    height: 100vh;
    @include py(100px, 100px);

    .web_cards {
        width: 1540px;
        @include flex(row);
        justify-content: flex-start;
        flex-wrap: wrap;
        margin: auto;

        @media (max-width: 1500px) {
            width: 1155px;
        }

        @media (max-width: 1100px) {
            width: 770px;
        }

        @media (max-width: 730px) {
            width: 100%;
            justify-content: center;
        }

        .web_card {
            width: 285px;
            @include flex(column);
            flex-direction: column-reverse;
            @include mx(50px, 50px);
            @include my(50px, 50px);

            @media (max-width: 400px) {
                @include mx(20px, 20px);
            }

            .web_name {
                width: 100%;
                @include txt(1.25rem, white);
            }

            .web_info {
                width: 100%;
                @include txt(0.75, rgb(180, 180, 180));
                @include my(3px, 3px);
                font-weight: 300;
            }

            .web_img {
                width: 100%;
                overflow: hidden;

                a {
                    display: block;
                    width: 100%;
                    height: auto;

                    .web_pic {
                        width: 100%;
                        padding-bottom: 100%;
                        @include bgi();

                        &:hover {
                            transform: scale(1.15);
                            opacity: 0.8;
                        }
                    }
                }
            }
        }
    }
}

.animations {
    width: 100%;
    height: 310vh;
    @include flex(column);
    justify-content: flex-start;

    .ani_card {
        width: 90%;
        @include txt(1.5rem, white);
        margin: auto;
        @include my(20px, 20px);
        padding-bottom: 20px;
        border-bottom: white 3px solid;

        .ani_name {
            text-align: left;
            margin: 20px;
            margin-bottom: 30px;

            @media (max-width: 1400px) {
                text-align: center;
            }
        }

        .ani_flex {
            width: 100%;
            height: 80%;
            @include flex(row);
            justify-content: flex-start;

            @media (max-width: 1400px) {
                flex-direction: column;
            }

            .ani_img {
                width: 50%;
                @include flex(row);
                justify-content: space-between;

                @media (max-width: 1200px) {
                    width: 100%;
                    justify-content: center;
                }

                .ani_poster {
                    width: calc(50% - 40px);
                    margin: 20px;

                    @media (max-width: 1200px) {
                        width: 260px;
                    }

                    @media (max-width: 670px) {
                        width: 200px;
                    }

                    @media (max-width: 540px) {
                        width: 150px;
                    }
                }

                .ani_info {
                    width: calc(50% - 40px);
                    margin: 20px;

                    @media (max-width: 1200px) {
                        width: 260px;
                    }

                    @media (max-width: 670px) {
                        width: 200px;
                    }

                    @media (max-width: 540px) {
                        width: 150px;
                    }
                }
            }
        }

        iframe {
            width: calc(50% - 40px);
            height: 100%;
            margin: 20px;

            @media (max-width: 1400px) {
                height: 500px;
            }

            @media (max-width: 1200px) {
                width: 560px;
                height: 450px;
            }

            @media (max-width: 670px) {
                width: 440px;
                height: 350px;
            }

            @media (max-width: 540px) {
                width: 340px;
                height: 250px;
            }
        }
    }
}

.boardgames {
    width: 100%;
    height: 150vh;

    .game_card {
        width: 90%;
        margin: auto;
        padding-top: 5%;
        @include my(0%, 5%);
        @include py(5%, 5%);
        border-bottom: 2px white solid;

        @media (max-width:400px) {
            @include my(15%, 15%);
        }

        .game_txt {
            width: 100%;
            height: 1.5rem;
            @include flex(row);
            margin-bottom: 20px;
            padding-left: 0.5%;

            @media (max-width: 750px) {
                height: 3rem;
                align-items: flex-start;
                flex-direction: column;
            }

            .game_name {
                width: 50%;
                @include txt(1.25rem, white);
                text-align: left;
            }

            .game_info {
                width: 50%;
                @include txt(1rem, white);
                font-weight: 300;
                text-align: left;
            }
        }

        .game_img {
            @include flex(row);
            width: 100%;
            flex-wrap: wrap;

            .game_pic {
                width: 33%;

                @media (max-width: 750px) {
                    width: 100%;
                }
            }

            .game_img_1,
            .game_img_2 {
                width: 33%;

                @media (max-width: 750px) {
                    width: 50%;
                }
            }
        }
    }
}

.others {
    width: 100%;
    height: 150vh;
    @include flex(row);
    justify-content: flex-start;
    flex-wrap: wrap;

    .other_card {
        width: 300px;
        height: 400px;
        @include mx(20px, 20px);

        .other_name {
            height: 50px;
            border-bottom: 1px solid white ; 
            @include txt(1.5rem, white);
            @include my(0px, 10px)
        }

        .other_pic {
            width: 300px;
            height: 300px;
            overflow: hidden;
            background: #fff;
        }

        .other_img {
            width: 300px;
            height: 300px;
            @include bgi();

            &:hover {
                transform: scale(1.15);
                opacity: 0.8;
            }
        }
    }
}
